

	table {
		width:100%;
	}

	.card{
		
		width:150px ;
		height:200px ;
		position: relative;
		border: 2px solid black;
		box-shadow:6px 6px 0px black;
	}
	
	.card-header{
		
		height:35px;
		width: 100%;
		position: absolute;
		text-align: center;
	}
	
	.card-header-violet{
		background-color: #A901DB;
	}
	
	.card-header-turquoise{
		background-color: #2ECCFA;
	}
	
	.card-header-fushia{
		background-color: #FE2EF7;
	}
	
	.card-header-orange{
		background-color: #FF8000;
	}
	
	.card-header-rouge{
		background-color: #FF0000;
	}
	
	.card-header-jaune{
		background-color: #FFFF00;
	}
	
	.card-header-vert{
		background-color: #04B404;
	}
	
	.card-header-bleu{
		background-color: #0101DF;
	}
	
	.mainDiv{
		
		background-color:white;
		max-width:1000px;
		margin: 100px auto 0;
		box-shadow: 6px 6px 0px black;
		border: 2px solid black;
		padding: 0 0 20px 50px;
		
		
	}
	
	.echange-proposition{
		background-color:white;
		width:500px;
		height:500px;
		margin: 100px auto 0;
		box-shadow: 6px 6px 0px black;
		border: 2px solid black;
		
	}
	
	.echange-form-one{
		
		padding: 12px 12px 12px 12px;
		position: absolute;
		width: 450px;
		top: 500px;
		
		
	}
	
	.echange-form-two{
		padding: 12px 12px 12px 12px;
		position: absolute;
		width: 450px;
		top: 1100px;
		
	}
	
	.echange-header{
	    background-color: lightblue;
		height: 75px;
		position: absolute;
		width: 496;
		text-align: center;
	}
	
	
	.login-form {
		
		background-color:white;
		width:500px;
		height:500px;
		margin: 100px auto 0;
		box-shadow: 6px 6px 0px black;
		border: 2px solid black;
	}
	
	
	
	.inside-form{
		padding: 12px 12px 12px 12px;
		position: absolute;
		width: 450px;
		top: 110px;
	}
	
	.inside-form-inscription{
		padding: 12px 12px 12px 20px;
		position: absolute;
		width: 450px;
		top: 220px;
	}

	.login-body {
		background-color: #0080FF;
	}
	
	.form-header{	
		background-color: lightblue;
		position: absolute;
		height: 100px;
		width: 496px;
		text-align: center;
	}
	
	.inscription-form{
		background-color:white;
		width:500px;
		height:770px;
		margin: 100px auto 0;
		box-shadow: 6px 6px 0px black;
		border: 2px solid black;
		
	}


	.container-fluid{
		
		padding: 60px 50px;
		
	}
	
	.container{
		
		position: relative;
	}
	
	.img-container{
		background-image:url(images/Monopoly.svg);
		background-color: white;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 1px 1px 1px 1px;
		margin: 1px;
		
	}

	.navbar-brand{		
		color: white;
	}
	
	
	.navbar {
		margin-bottom: 0;
		background-color: #0080FF;
		z-index: 9999;
		font-size: 12px !important;
		line-height: 1.42857143 !important;
		letter-spacing: 3px;
		border: 2px solid black;
		color: white !important;
}
	}

	.navbar li a, .navbar .navbar-brand {
		color: white !important;
	}
	
	.navbar li a, .navbar .navbar-nav {
		color: white !important;
	}

	.navbar-nav li a:hover, .navbar-nav li.active a {
		color: #0080FF !important;
		background-color: #fff !important;
	}

	.navbar-default .navbar-toggle {
		border: 2px solid black;
		color: white !important;
	}
	
	.jumbotron { 		background-color: #0099cc;
		color: #ffffff;

	}
	
	
	.alert-danger-login{
		
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
		top: 350px;
		position: absolute;
		padding: 0 20px 7px 20px;
		border-radius: 7px;
		border: 2px solid;
	}
	
	.alert-danger-inscription{
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
		top: 740px;
		left: 380px;
		position: absolute;
		padding: 0 20px 7px 20px;
		border-radius: 7px;
		border: 2px solid;
		
	}
	
	.player-select{
		
	    padding: 20 100 0 30;
		
		
	}
	

	
	
	
	
	
	
	